.App {
}

.title {
  text-align: center;
}

#disclaimer-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}


/* Home Page RSI styling */

.container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  color: white;
  text-align: center;
}

.box-title {
  color: white;
  background-color: black;
  width: 500px;
  height: 70px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.box-info {
  color: white;
  background-color: black;
  width: 500px;
  height: 70px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.rsi-info {
  
  background-color: silver;
  width: 320px;
  border: 10px solid rgb(162, 4, 4);
  padding: 40px;
  margin: 20px;
  border-radius: 25px;
  text-align: center;
  color: black;
}

.rsi-how-info {
  
  background-color: silver;
  width: 320px;
  border: 10px solid rgb(162, 4, 4);
  padding: 40px;
  margin: 20px;
  border-radius: 25px;
  text-align: center;
  color: black;
}


.rsi-link {
  
  background-color: silver;
  width: 320px;
  border: 10px solid rgb(162, 4, 4);
  padding: 40px;
  margin: 20px;
  border-radius: 25px;
  text-align: center;
  color: black;
}

/* RSI Page styling */

.rsi-data {
  background-color: silver;
  width: 320px;
  border: 10px solid rgb(162, 4, 4);
  padding: 40px;
  margin: 20px;
  border-radius: 25px;
  text-align: center;
}
.rsi-entry-exit {
  background-color: silver;
  width: 320px;
  border: 10px solid rgb(162, 4, 4);
  padding: 40px;
  margin: 20px;
  border-radius: 25px;
  text-align: center;
  color: black;
}




/* Mobile */
